.backBtn{
    position:absolute;
    top: 30px;
    left: 30px;
    width: 30px;
    height: 40px;
}

.wrapper{
    position: relative;
    width: 420px;
    height: 700px;
    background-color: rgb(24, 24, 24);
    border-radius: 40px;
    padding: 30px 40px;
    z-index: 10;
}

.wrapper .header h1{
    text-align: center;
    color: white;
}

.wrapper .inputBox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    border: 1px solid grey;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: white;
}

.inputBox input::placeholder{
    color: rgb(95, 91, 91);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title{
    margin: 0;
}

.inputBox .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgb(95, 91, 91);
}

.wrapper .submitBtn{
    width: 100%;
    height: 45px;
    margin-top: 10px;
    background: #F5782D;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.wrapper .loginLink{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.loginLink p{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.link{
    color: #F5782D;
    text-decoration: none;
    font-weight: 600;
}

.link:hover{
    text-decoration: underline;
}