# ============================
# 🔗 Database Configuration
# ============================
DB_URL=YOUR_DATABASE_URL_HERE
DB_USER=YOUR_DB_USERNAME_HERE
DB_PASSWORD=YOUR_DB_PASSWORD_HERE

# ============================
# 🔐 JWT
# ============================
JWT_SECRET=YOUR_JWT_SECRET_KEY_HERE

# ============================
# 💳 Stripe Keys
# ============================
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY_HERE
STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY_HERE
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET_HERE

# ===========================
# Success url
#============================
FRONTEND_SUCCESS_URL=http://localhost:3000/payment-success
FRONTEND_CANCEL_URL=http://localhost:3000/payment-page

# RAG ASSISTANT
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY_HERE
GEMINI_MODEL=gemini-2.5-flash
EMBEDDING_MODEL=all-MiniLM-L6-v2
RERANK_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2
LOCAL_MODEL=Qwen/Qwen2.5-0.5B-Instruct
DATASET_FILENAME=dataset/disease_symptoms.csv
DB_PATH=chroma_db/