.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    box-sizing: border-box;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);        
    -webkit-backdrop-filter: blur(15px);
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%); 
    border-bottom: none;
    pointer-events: auto;
}

.leftGroup {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rightGroup {
    display: flex;
    align-items: center;
    gap: 20px;
}