.button{
    position: fixed;
    right: 40px;
    top: 36px;
    width: 155px;
    height: 50px;
    border-radius: 50px;
    background-color: #F5782D;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 24px;
    transition: all 0.2s ease;
}

.icon{
    width: 25px;
    height: 25px;
}