.button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease, opacity 0.2s ease;
    color: rgb(88, 88, 88); 
    width: 30px;
    height: 30px;
}

.button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.button:active {
    transform: scale(0.95);
}