.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center; /* Центрирует по вертикали */
    min-height: 100vh;   /* Заставляет блок быть высотой минимум с экран */
    width: 100%;
    padding: 20px;       /* Внутренний отступ, чтобы форма не касалась краев */
    box-sizing: border-box; /* Чтобы padding не добавлял лишнюю ширину */
    overflow-x: hidden;  /* Убирает горизонтальный скролл */
}

.backBtn{
    position: absolute;
}

.wrapper {
    position: relative;
    width: 850px; 
    max-width: 100%;     /* ВАЖНО: Если экран меньше 850px, блок сожмется */
    height: 690px; 
    background-color: rgb(24, 24, 24);
    border-radius: 40px;
    padding: 40px 60px;
    z-index: 10;
    box-sizing: border-box;
    /* Убрал min-height: 600px, так как auto лучше справится с контентом */
}
.inputsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    margin-bottom: 20px;
    margin-top: 20px; /* Добавлено */
}

.fullWidth {
    grid-column: span 2;
}

.leftPart, .rightPart {
    flex: 1;
    width: 100%;
}

.wrapper .header h1{
    text-align: center;
    color: white;
    margin-bottom: 1px;
}

.wrapper .inputBox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.inputBox input,
.inputBox select{
    appearance: none;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    border: 1px solid grey;
    border-radius: 40px;
    font-size: 16px;
    box-sizing: border-box; 
    padding: 0px 20px;
    color: white;
}

.inputBox select option {
    color: black;
    background: white;
}

.inputBox input::placeholder{
    color: rgb(95, 91, 91);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.title{
    margin: 0;
}

.wrapper .submitBtn{
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 30px auto 10px auto;
    height: 45px;
    background: #F5782D;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.wrapper .loginLink{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.loginLink p{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.link{
    color: #F5782D;
    text-decoration: none;
    font-weight: 600;
}

.link:hover{
    text-decoration: underline;
}