/* --- СТИЛИ ФОРМЫ ВХОДА --- */

/* .glassPanel {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    will-change: transform, backdrop-filter;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 24px;
    padding: 40px;
    width: 100%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
} */

.header {
    margin-bottom: 30px;
}

/* Заголовок точь-в-точь как в регистрации */
.title {
    font-family: Arial;
    font-weight: 100;
    font-size: 45px;
    color: #696969;
    margin-bottom: 5px;
    margin-top: 0;
}

/* Подзаголовок точь-в-точь как в регистрации */
.subtitle {
    color: #666;
    font-size: 0.9rem;
    margin-left: 5px;
    margin-top: 10px;
}

.inputsColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 345px;
    margin: 0 auto 25px 5px;
}

.inputBox {
    position: relative;
    width: 100%;
}

.inputBox input {
    width: 100%;
    padding: 12px 20px; /* Отступ слева под иконку */
    border-radius: 25px;
    border: 2px solid rgba(212, 248, 255, 0.8);
    background: rgba(255, 255, 255, 0.7);
    outline: none;
    font-size: 1rem;
    color: #333;
    transition: all 0.3s ease;
}

.inputBox input:focus {
    border-color: #a0d8ef;
    background: #fff;
    box-shadow: 0 0 10px rgba(160, 216, 239, 0.5);
}

.submitBtn {
    background: #AFEEFE;
    color: #555555;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
    min-width: 150px;
    display: block;
}

.submitBtn:hover {
    background: #8af1ff;
}

.errorText {
    color: #ff4d4f;
    text-align: center;
    margin-top: 15px;
}

.switchLinkContainer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555555;
}

.switchLink {
    color: #5ad0ff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
}

.switchLink:hover {
    text-decoration: underline;
}