.pageContainer {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: sans-serif;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 70px;
    width: 100%;
    box-sizing: border-box;
}

.title {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.formWrapper {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    margin-bottom: 40px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    width: 100%;
    padding: 15px 25px;
    border-radius: 50px;
    background-color: #222224;
    border: 1px solid #444;
    color: white;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s;
}

select.input {
    cursor: pointer;
    appearance: none;
}

.input::placeholder {
    color: #888;
}

.input:focus {
    border-color: #F5782D;
}

.input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.createBtn {
    width: 100%;
    max-width: 350px;
    padding: 18px 0;
    background-color: #F5782D; 
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.2s, transform 0.1s;
    box-shadow: 0 4px 15px rgba(245, 120, 45, 0.3);
    margin-bottom: 40px;
}

.createBtn:hover {
    opacity: 0.9;
}

.createBtn:active {
    transform: scale(0.98);
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.label {
    color: #888;
    font-size: 14px;
    padding-left: 20px;
    margin-bottom: -10px;
}

.input[type="date"] {
    position: relative;
}

.errorMessage {
    color: #ff4d4d;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
}


.fileUploadContainer {
    width: 100%;
    position: relative;
}

.hiddenFileInput {
    display: none; /* Полностью скрываем стандартный инпут */
}

.fileUploadBtn {
    display: block;
    width: 100%;
    padding: 15px 25px;
    border-radius: 50px;
    background-color: #222224;
    border: 1px dashed #444; /* Пунктирная рамка подчеркивает, что это зона загрузки */
    color: #888;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.fileUploadBtn:hover {
    border-color: #F5782D;
    color: white;
    background-color: #2a2a2c;
}

/* Если фото выбрано, можно немного изменить стиль кнопки */
.fileUploadBtn:has(+ .hiddenFileInput:valid),
.fileUploadBtn:active {
    border-style: solid;
}

